// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #2d2e29;
 
// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-random-aww { 
 
  background-color: $background-color;
  img {
    height:300px;
    width:300px;
  }
 
}