<% content_for :title do %>Scott and Jennys Dashboard<% end %>
<div class="gridster">
  <ul>
		
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Jenny and Scotts home Dashboard" data-moreinfo="For all things Jenny and Scott"></div>
    </li>
		
		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		  <div data-id="twitter_mentions" data-view="Comments" data-title="Search Tweets" style="background-color: #71388a"></div>
		</li>
		
		
	</ul>
</div>